$def with (page, page_obj)


<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>r.untroubled.be</title>
	<link rel="stylesheet" type="text/css" href="/static/webpy.css" />
</head>

<body>

	<div id="header">
		<h1>PyWi!</h1>
	</div>

	<div id="location">
		Navigation bar
	</div>

	<div id="container">
		$:page_obj.get_menu_dir()

		<div id="main">
			$ pages_list = page_obj.get_pages_from_folder()

			<ul>
			$for item in pages_list:
				<li> <a href="$item['url']">$item['title']</a> </li>
			</ul>
		</div>
	</div>

</body>
